<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>
      I am a user-interface designer &amp; front-end developer at <a href="#">Andela</a> who thrives on multi-disciplinary, creative exploration, and making the world a better place by creating usable products
    </p>
    <p>With every project I begin with an open, curious and empathetic mind in an attempt to understand the problem from every perspective. To further understand these design needs, and to ultimately find a fitting solution, I like to do a lot of learning by iteration and prototyping. This also allows me to validate and gather valuable feedback throughout the process, rather than just near the end, and also allows me to offer an intelligent rationale behind every decision.</p>
    <p>You can find me tweeting in 140 characters on <a href="#">Twitter</a>, swooshing some pixels on <a href="#">Dribbble</a>, and sharing some code on  <a href="#">Github</a> or <a href="#">Bitbucket</a>.
</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Designed</h2>
    <hr>

    <% @posts.each do |post| %>
    	<h3><a href="#"><%= link_to post.title, post %></a></h3>
    	<div class="date"><%= post.created_at.strftime("%A, %b %d") %></div>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Designed</h2>
    <hr>
    <h3><a href="#">Fidelty Bank Redesign</a></h3>
    <div class="date">Friday, September 5th</div>
    <h3><a href="#">Tiketmobile</a></h3>
    <div class="date">Friday, September 5th</div>
    <h3><a href="#">Thaloot</a></h3>
    <div class="date">Friday, September 5th</div>
  </div>
  </div>
</div>